[submodule "dodo"]
	path = dodo
	url = git@github.com:alan-turing-institute/dodo.git
[submodule "twitcher"]
	path = twitcher
	url = git@github.com:alan-turing-institute/twitcher.git
[submodule "bluebird"]
	path = bluebird
	url = git@github.com:alan-turing-institute/bluebird.git
[submodule "bluesky"]
	path = bluesky
	url = git@github.com:alan-turing-institute/bluesky.git
